.header {
  height: 80px;
  background-color: white;
}

.imgheader {
  height: 40px;
  background-color: white;
}

h2.logo {
  width: 80px;
  margin-left: 12%;

  img {
    max-width: 50px;
    border-radius: 10%;
  }

  font-size: x-large;
  font-weight: bolder;
  color: white;
}

.menu {
  margin-left: 32%;
}

button {
  font-size: large;
  font-weight: bolder;
  color: #00AAFF;
}

.divi {
  height: 15px;
  background-color: #00AAFF;
}

.material-icons.primary {
  color: #00AAFF;
  margin-left: 4%;
  margin-top: 0.5%;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
  color: black;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.icono{
    margin-right: 10px;
}

mat-sidenav{
    width: 20%;
}

.iconLeft {
  width: 80px;
  margin-left: 60%;

  font-size: x-large;
  font-weight: bolder;
  color: white;
}

h2.logo2 {
  width: 80px;
  margin-left: 3%;

  img {
    max-width: 45px;
    border-radius: 10%;
  }

  font-size: x-large;
  font-weight: bolder;
  color: white;
}
