<form [formGroup]="formGroup" class="example-form" (ngSubmit)="send()">
  <p>
    <strong>Recuperar Contraseña:</strong>
  </p>
  <div class="row">
    <div class="form-group">
      <label>Digite número de identificación, correo electronico o número telefonico </label>
      <br />
      <input type="text" matInput [formControl]="usuarioFormControl">
      <mat-error *ngIf="usuarioFormControl.hasError('required')" placeholder="usuario">
        El usuario es <strong>Requerido</strong>
      </mat-error>
    </div>
    <br />
    <div class="row">
      <button mat-flat-button color="primary" type="submit" [disabled]="formGroup.invalid">Recuperar Contraseña</button>
    </div>
  </div>
</form>

