<mat-card class="example-card" (click)="goToDetail()">
  <mat-card-header (click)="goToDetail()">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title (click)="goToDetail()">{{ productoModel.nombre }} </mat-card-title>
  </mat-card-header>
  <div class="content-img" (click)="goToDetail()">
    <!--<img mat-card-image src="data:image/png;base64,{{productoModel.imagen}}" alt="Sin foto">-->
    <img mat-card-image src="{{productoModel.rutaImagen}}" alt="Sin foto">
  </div>
  <mat-card-content (click)="goToDetail()">
    <p>
      {{ productoModel.descripcion }}
    </p>
  </mat-card-content>
</mat-card>
